@font-face {
    font-family: 'Pretendard-Regular';
    src: url('../font/PRETENDARD-REGULAR.TTF') format('woff');
}
@font-face {
    font-family: 'Pretendard-SEMIBOLD';
    src: url('../font/PRETENDARD-SEMIBOLD.TTF') format('woff');
}
@font-face {
    font-family: 'Pretendard-EXTRALIGHT';
    src: url('../font/PRETENDARD-EXTRALIGHT.TTF') format('woff');
}
@font-face {
    font-family: 'Pretendard-THIN';
    src: url('../font/PRETENDARD-THIN.TTF') format('woff');
}
@font-face {
    font-family: 'POPPINS-EXTRALIGHTITALIC';
    src: url('../font/POPPINS-EXTRALIGHTITALIC.TTF') format('woff');
}
@font-face {
    font-family: 'POPPINS-THIN';
    src: url('../font/POPPINS-THIN.TTF') format('woff');
}

body {
    width: 100%;
    height: 1080px;
    -ms-overflow-style: none;
}

/* 스크롤바 없애기 */
::-webkit-scrollbar {
    display: none;
}

:root {

    /* color */
    --color-main: #004c4b;
    --color-sub: #2e9b7d;
    --color-sub2: #249e9e;
    --color-white: #ffffff;

    /* text */
    --font-main: 'Pretendard-Regular';

    /* size */
    --main-padding: 100px;
    

    /* image */
    --bgimg-width: 100%;
    --bgimg-height: 100%;

}
