.container {
    width: 100%;
    height: 100%;
    margin: 0;

    background-image: url("../img/TitleImage.png");
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
}

.container div {
    width: 100%;
    color: var(--color-sub);
    text-align: center;
}


.container .logo, 
.container .category {
    height: 40%;
    display: flex;
    align-items: center;
}

.container .logo {
    justify-content: center;
    position: relative;
}
.container .category {
    justify-content: space-around;
}

.container .subText {
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* logo */
.container .logo a {
    position: absolute;
    top: 80px;
    right: 150px;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .logo a img {
    width: 80px;
    height: 80px;
}

.logo > img {
    width: 312px;
    height: 292px;
    margin-top: 105px;
}


/* category */
.category a {
    width: 420px;
    height: 420px;
    background-position: center;
    background-image: url("../img/box.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-position-x: -35px;
}

.category a img {
    width: 100px;
    height: 100px;
    margin-bottom: 30px;
    margin-top: -25px;
}

.category a div:nth-child(2) {
    margin-bottom: 15px;
    font-size: 40px;
    font-family: "Pretendard-SEMIBOLD";
}
.category a div:last-child {
    font-size: 28px;
    font-family: "Pretendard-Regular";
}

/* subText */
.subText div {
    opacity: 0.8;
    font-size: 26px;
    color: var(--color-sub);
}

.subText div:first-child,
.subText div:nth-child(2) {
    font-family: "POPPINS-THIN";
    font-weight: 600;
}

.subText div:last-child {
    font-family: "Pretendard-THIN";
    font-weight: 600;
}